.jobSite-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    height: 200px;
}

.jobsite-image{
    height: 100px;
    width: 100px;
}

.single-user-site{
    margin: 15px 15px 15px 15px;
    gap: 20px;
    display: flex;
}

.jobsite-buttons{
    display: flex;
}