body {
  background-image: url("../Images/shutterstock_163243259-1-1038x778.jpeg");
  background-color: rgba(41, 13, 12, 255);
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-header {
  font-family: "Righteous", cursive;
  font-size: 40pt;
}
