/* .weather-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow-y: auto; 
} */

/* .weather-div{
    padding: 20px;
} */

/* .weather-data{
    display: flex;
    padding: 20px;
    height: 60%;
} */

/* .weather-data > canvas{
    display: flex !important;
    background-color: #e6e7e9;
    height: 90% !important;
    width: 80% !important;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgb(50 50 50 / 50%) 0px 3px 6px 0px;
    margin-bottom: 40px;
    
} */

/* @media screen and (max-width:1300px) {
    .weather-data > canvas{
        display: flex !important;
        justify-content: center !important;
        height: 90% !important;
        width: 80% !important;
    }

} */

/* @media screen and (max-width:1600px) {
    .weather-data > canvas{
        display: flex !important;
        justify-content: center !important;
        height: 90% !important;
        width: 80% !important;
    }
} */