.whole-chat-container{
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-input-container{
    display: flex;
}

.chat-message-inner-container{
    display: flex;
}

.chat-message{
    display: flex;
    flex-direction: column;
}

.owner{
    display: flex;
    justify-content: flex-end;
}