.whole-chat-container{
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 15px;
}

.chat-container{
    margin-bottom: 25px;
}
.chat-input-container{
    display: flex;
    border: 1px solid red;
    background-color: aqua;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

.chat-input{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.chat-message-inner-container{
    display: flex;
}

.chat-message{
    display: flex;
    flex-direction: column;
}

.chat-button-div{
    display: flex;
    justify-content: flex-end;
}

.message-button{
    margin-right: 10px;
}

.message-buttons{
    display: flex;
    margin-right: 10px;
}

.send-button{
    width: 50px;
}

.owner{
    display: flex;
    justify-content: flex-end;
}

.chat-room-form{
    padding: 20px;
}

.ql-toolbar.ql-snow {
    border: 0px !important
}
.ql-container.ql-snow {
    border: 0px !important
}

.ql-editor.ql-blank::before{
    color: black
}