.sign-up-form{
    padding: 20px;
}

.user-form-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-header{
    margin-top: 20px;
    padding-bottom: 10px;
    font-family: "Righteous", cursive;
    font-size: 22pt;
    color: #4F5B73;
}

.signup-container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #A9C2F4;
    border-radius: 7px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.demo-button{
    margin-left: 10px;
    margin-top: 10px;
    width: 20%;
    height: 40px;
    border-radius: 10px;
}

.signup-button{
    margin-top: 10px;
    width: 20%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.form-element-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.back-to-login-button{
    width: 40%;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
}

@media screen and (max-height:800px) {
    .signup-container{
        margin: 5%;
        overflow-y: auto;
    }
}
