.loading-image{
    width: 40px;
    height: 40px;
}

.material-form-image{
    width: 100px;
    height: 100px;
}

.fa-cloud-arrow-up{
    font-size: 40px;
}

.material-form{
    padding: 20px
}

.form-label-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.form-label-required{
    color: red
}

.material-image-input{
    display: none;
}

.fa-cloud-arrow-up{
    cursor: pointer;
}

.valid-uploads{
    font-size: 10px;
}