button{
    width: 50%;
}
button:hover {
    filter: invert(100%);
    box-shadow: 2px 5px 5px rgba(255,255,255,0.4);
}

.splash-page-container{
    display: flex;
    justify-content: space-around;
}

.windVentory-intro{
    padding-left: 40px;
}

.intro-text{
    font-size: 20px;
}

.features{
    padding-left: 160px;
    width: 300px;
}

.content{
    padding: 20px;
    border-radius: 20px;
    background-color: #A9C2F4;
    width: 500px;
}

.content2{
    padding: 20px;
    border-radius: 20px;
    background-color: #A9C2F4;
    width: 300px;
}
.input-field{
    padding-left: 10px;
    font-size: 15px;
    width: 75%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.splash-page-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}